:root{
    --main-font:'Poppins', sans-serif;
}
html{
scroll-behavior: smooth;
scroll-padding: 6rem;
}
.h-6{
height: 6%;
}
.w-3{
    width: 3%;
}
.w-8{
    width: 7%;
}
.w-95{
    width: 95%;
}
.w-65{
    width: 65%;
}
 
button.prev-btn:hover{
    background-color: white;
    color: black;
}
.bg-trans{
    background-color: #f2f2f2f1;
}
.top-56{
    top: 56%;
}

.top-42{
    top: 42%;
}
.start-45{
    left: 45%;
}
.start-55{
    left: 55%;
}
.top-30{
    top: 35%;
}
.font-big{
    font-size:5rem ;
}

button.btn-outline-light:hover{
    transition: all .5s;
}

button.btn-outline-light:hover span{
    color: black;

}
button.rounded-0{
    color: black;
}

button.rounded-0:hover{
    background-color: black;
    
}
button.rounded-0:hover span{
    color: white;
    
}

.w-60{
    width: 60%;
}

div.after::after{
    content: "";
    width: 100%;
    height: 0.008rem;
    background-color: rgb(239, 238, 238);
    position: absolute;
    top: 100%;
    left: 0;
}

.text-gray{
    color: gray;
}

.layer{
    transform: translateY(100%);
    transition: all 0.5s;
}
.the-img:hover .layer{
    transform: translateY(0);
  
}

.bg-gray{
    background-color: #787878;
    color: white;
}

.pt-100{
    padding-top: 100px;
}
.pb-100{
    padding-bottom: 100px;
}
.card-title::before{
    content: "$";
    position: absolute;
    font-size: 1.1rem;
    top: -10%;
    left: -0.00005%;
}

.card-title::after{
    content: "";
    width: 75%;
    height: 0.08rem;
    background-color: rgb(239, 238, 238);
    position: absolute;
    top: 100%;
    left: 12%;
}

.best{
    text-align: center;

    font-weight: 600;
    
    font-size: 8px;
    width: 40%;
    
    border-radius: 0.9rem;
    padding:0.5rem 0.6rem;
    
    letter-spacing: 2px;
    p{
        color: white;
        margin: 0;
    }
}
.creative::after{
    content: "C";
    position: absolute;
    top: 3%;
    left: 47%;
    z-index: -1;
    color: rgba(157, 156, 156, 0.233);
    font-size: 75px;
    font-weight: bolder;
    font-family: var(--main-font);
}
.what::after{
    content: "W";
    position: absolute;
    top: -17%;
    left: 1.5%;
    z-index: -1;
    color: rgba(174, 172, 172, 0.453);
    font-size: 60px;
    font-weight: bolder;
    font-family: var(--main-font);
}
.get::after{
    content: "G";
    position: absolute;
    top: 6%;
    left:-1%;
    z-index: -1;
    color: rgba(157, 156, 156, 0.233);
    font-size: 73px;
    font-weight: bolder;
    font-family: var(--main-font);
}

img.rounded-circle{
    transform: translateY(50%);
}

.feedback{
    border-radius: 0.625rem;
}

.blue-circle [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #4269d4;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
   
    transition: opacity .6s ease;
}
@media (min-width: 768px) {
 .scale-up{
    transform: scale(1.1);
 }
}